
*.csv
*.pyc
data/config.json
data/preset.json
*.pyc
__pycache__/gSheet.cpython-37.pyc
*.pyc
data/preset.json
*.png
data/preset.json
data/config.json


data/config.json
data/preset.json
data/gSheet.json
data/config.json
data/gSheet.json
data/system.json
data/system.json
data/system.json
_playground.py
